.productsContainer {
  margin-top: 4rem;
  gap: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.productsContainer > div {
  flex: 1;
}
